<% if (!user) { %>
	<h2>Bienvenido! Para poder darnos acceso tenés que logearte primero con LinkedIn.</h2>
	<a href="/auth/linkedin">Linkedin Login</a>
<% } else { %>
	<h2>Hola! <%= user.displayName %>. Nuestro robotitos ya están trabajando para vos!</h2>
<% } %>
